[Desktop Entry]
Version=1.0
Type=Application
Exec=urxvt
Icon=utilities-terminal
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Terminal Emulator
Name[ru]=term
Comment=Use the command line
Comment[ru]=Использовать командную строку
X-XFCE-Source=file:///usr/share/applications/exo-terminal-emulator.desktop
Path=
